<section>
    <h1 class="title">Edite o seu livro</h1>

    <form method="POST" enctype="multipart/form-data">
        <div class="field">
            <label id="name" class="label">Nome*</label>
            <div class="control">
                <input class="input" value="{{nome}}" name="nome" required type="text" placeholder="Ex: Dom Casmurro">
            </div>
        </div>

        <div class="field">
            <label class="label">Autor*</label>
            <div class="control">
                <input class="input" value="{{autor}}" name="autor" required type="text"
                    placeholder="Ex: Machado de Assis">
            </div>
        </div>

        <div class="field">
            <label class="label">Comentário*</label>
            <div class="control">
                <textarea class="textarea" name="comentario" required
                    placeholder="Deixe alguma nota ou comentário sobre sua leitura">{{comentario}}</textarea>
            </div>
        </div>

        <div class="field columns">
            <div class="column is-3">
                <label class="label">Nova imagem</label>
                <input type="file" name="imagem" accept=".png, .jpg, .jpeg">
            </div>
            <div class="column is-3">
                <label class="label">Imagem atual</label>
                <figure class="image is-4by3">
                    <img src="{{URL}}/files/{{imagem}}">
                </figure>
            </div>

        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link mt-3">Enviar</button>
            </div>
        </div>
    </form>
</section>